


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
<!------ Include the above in your HEAD tag ---------->
<!-- <div class="container">
  
  

  
</div>  -->
<!-- <div>
  <input type="file" name="images" firstFormGroup="images" id="#images">
  <button type="button" mat-button (click)="upload()">Upload</button>
</div> -->

<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]=false>
        <ng-template matStepLabel>Fill out car characteristic</ng-template>
            <form [formGroup]="firstFormGroup" action="designer-finish.html" class="form-horizontal" role="form">
              
              <div class="form-group">
                  <label for="description" class="col-sm-3 control-label">Description *</label>
                  <div class="col-sm-9 ">
                      <mat-form-field appearance="outline" class="ok">
                          <textarea matInput placeholder="add a description for your car" formControlName="description" required></textarea>
                      </mat-form-field> 
                  </div>
              </div>
              <div class="form-group">
                <label for="modelDate" class="col-sm-3 control-label">Model Year *</label>
                <div class="col-sm-9">
                    <mat-form-field appearance="outline" class="ok">
                      <input matInput type="number" name="modelDate" id="modelDate" formControlName="modelDate" placeholder="model year">
                    </mat-form-field>
                      <div *ngIf="firstFormGroup.controls['modelDate'].errors && !firstFormGroup.controls['modelDate'].pristine" class="error-msg">
                        <div [hidden]="!firstFormGroup.controls['modelDate'].errors.min || !firstFormGroup.controls['modelDate'].errors.max">Please enter a valid model year</div>
                      </div>
                  
              </div> 
              </div>
              <div class="form-group">
                  <label for="numberOfDoors" class="col-sm-3 control-label">Number Of Doors *</label>
                  <div class="col-sm-9">
                    <mat-form-field appearance="outline" class="ok">
                      <input matInput type="number" name="numberOfDoors" id="numberOfDoors" formControlName="numberOfDoors" placeholder="number of doors">
                    </mat-form-field>
                  </div>
              </div> 
              
              <div class="form-group">
                  <label for="seatingCapacity" class="col-sm-3 control-label">Seating Capacity *</label>
                  <div class="col-sm-9">
                      <mat-form-field appearance="outline" class="ok">
                          <input matInput type="number" name="seatingCapacity" id="seatingCapacity" formControlName="seatingCapacity" placeholder="number of seating capacity">
                      </mat-form-field>
                    </div>
              </div>
            
            
              <div *ngIf="brandsList" class="form-group">
                  <label for="brand" class="col-sm-3 control-label">Brand *</label>
                  <div class="col-sm-3">
                      <mat-form-field>
                    <mat-select formControlName="brand">
                      <mat-option value="" selected hidden>-- Select a brand --</mat-option>
                      <mat-option *ngFor="let brand of brandsList.list" [value]="brand._id">{{brand.brand}} {{brand.model}}</mat-option>
                    </mat-select>
                      </mat-form-field>
                  </div>
              </div>
            
            
              <div class="form-group">
                  <label for="energy" class="col-sm-3 control-label">Energy *</label>
                  <div class="col-sm-3">
                      <mat-form-field >
                    <mat-select  formControlName="energy">
                      <mat-option value="" selected hidden>-- Select type --</mat-option>
                      <mat-option value="essence">Essence</mat-option>
                      <mat-option value="diesel">Diesel</mat-option>
                      <mat-option value="electric">Electric</mat-option>
                    </mat-select>
                      </mat-form-field>
                  </div>
              </div>
            
              <div class="form-group">
                  <label for="mileage" class="col-sm-3 control-label">Mileage *</label>
                  <div class="col-sm-3">
                      <mat-form-field >
                    <mat-select formControlName="mileage">
                      <mat-option value="" selected hidden>-- Select mileage --</mat-option>
                      <mat-option value="0-15 000 km">0-15 000 km</mat-option>
                      <mat-option value="15-50 000 km">15-50 000 km</mat-option>
                      <mat-option value="50-100 000 km">50-100 000 km</mat-option>
                      <mat-option value="100-150 000 km">100-150 000 km</mat-option>
                      <mat-option value="150-200 000 km">150-200 000 km</mat-option>
                      <mat-option value="+200 000 km">+200 000 km</mat-option>
                    </mat-select>
                    </mat-form-field>

                  </div>
              </div>
            
              <div class="form-group">
                <label for="transmission" class="col-sm-3 control-label">Transmission *</label>
                <div class="col-sm-9">
                  <label class="radio-inline">
                  <input checked="checked" type="radio" name="inlineRadioOptions" id="manual" value="manual"> Manual
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="automatic" value="automatic"> Automatic
                </label>
                </div>
              </div>
            
              <div class="form-group">
                <label for="price" class="col-sm-3 control-label">Price (€/day)</label>
                <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="ok">
                        <input matInput type="number" name="price" id="price" formControlName="price" placeholder="renting price">
                    </mat-form-field>
                </div>
              </div> 


              <div class="form-group">
                <label for="images" class="col-sm-3 control-label">Images *</label>
                <div class="col-sm-3">
                  <label class="control-label small" for="file_img" ></label> 
                  <input type="file" name="images"  multiple formControlName="images"  id="images">
                  <button (click)="upload()">Upload</button> 
                </div>
              </div> 

              <div class="form-group">
                <label for="options_accessoires" class="col-sm-3 control-label">Accessory Options *</label>
                <div class="col-sm-3">
                  <mat-form-field class="ok">
                    <mat-select multiple size="6" formControlName="options_accessoires">
                        <mat-option value="" selected hidden>-- Select Options --</mat-option>
                        <mat-option value="Climatisation">Climatisation</mat-option>
                        <mat-option value="Régulateur de vitesse">Speed ​​Regulator</mat-option>
                        <mat-option value="GPS">GPS</mat-option>
                        <mat-option value="Lecteur CD">CD Player</mat-option>
                        <mat-option value="Entrée audio">Audio input</mat-option>
                        <mat-option value="iPod">iPod</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> 
              <hr>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button mat-button matStepperNext class="btn btn-primary">Save and continue</button>
                </div>
              </div> 
            </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" [editable]=false>
      <title>Create the device</title>
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Link your device</ng-template>
        <div *ngIf="devicesList">
            <div *ngFor="let device of devicesList.list">
              <mat-checkbox (change)="onChange($event)">{{device.name}}</mat-checkbox>              
            </div>
        </div>
        <mat-form-field>
          <input matInput placeholder="add a name for your device" formControlName="deviceName" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="createDevice($event)">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" [editable]=false>
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Add address</ng-template>
          <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)='markerDragEnd($event)'></agm-marker>
          </agm-map>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="submit()">Send</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
