


<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<!-- <div class="container">
  
  <section class="panel panel-default">
<div class="panel-heading"> 
<h3 class="panel-title">Add New Car</h3> 
</div> 
<div class="panel-body">
  
<form action="designer-finish.html" class="form-horizontal" role="form"> -->
<!-- ________________________________________________________________________ -->
<!-- <div class="form-group">
	<label for="name" class="col-sm-3 control-label">Тип заказа</label>
	<div class="col-sm-9">
		<label class="radio-inline">
	  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Внешный заказ
	</label>
	<label class="radio-inline">
	  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Внутренный заказ
	</label>
	</div>
</div>  -->
<!-- form-group // -->

   <!-- <div class="form-group">


      <div class="form-group">
          <label for="about" class="col-sm-3 control-label">Description</label>
          <div class="col-sm-9">
            <textarea class="form-control"></textarea>
          </div>
        </div>


    <label for="name" class="col-sm-3 control-label">Description</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="name" id="name" placeholder="Исм ёки корхона номи">
    </div>
  </div> 
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">modelDate</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="name" id="name" placeholder="Название">
    </div>
  </div> 

  <div class="form-group">
      <label for="name" class="col-sm-3 control-label">numberOfDoors</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="name" id="name" placeholder="Название">
      </div>
  </div> 
  
  <div class="form-group">
      <label for="name" class="col-sm-3 control-label">seatingCapacity</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="name" id="name" placeholder="Название">
      </div>
  </div>


  <div class="form-group">
      <label for="tech" class="col-sm-3 control-label">Energy</label>
      <div class="col-sm-3">
        <select class="form-control">
          <option value="essence">Essence</option>
          <option value="diesel">Diesel</option>
          <option value="electric">Electric</option>
        </select>
      </div>
  </div>


  <div class="form-group">
      <label for="tech" class="col-sm-3 control-label">Energy</label>
      <div class="col-sm-3">
        <select class="form-control">
          <option value="essence">Essence</option>
          <option value="diesel">Diesel</option>
          <option value="electric">Electric</option>
        </select>
      </div>
  </div>

  <div class="form-group">
      <label for="tech" class="col-sm-3 control-label">Mileage</label>
      <div class="col-sm-3">
        <select class="form-control">
          <option value="essence">15-50 000 km</option>
          <option value="diesel">50-100 000 km</option>
          <option value="electric">50-100 000 km</option>
        </select>
      </div>
  </div>

  <div class="form-group">
      <label for="tech" class="col-sm-3 control-label">Transmission</label>
      <div class="col-sm-3">
        <select class="form-control">
          <option value="manual">Manual</option>
          <option value="automatic">Automatic</option>
        </select>
      </div>
  </div>

  <div class="form-group">
    <label for="about" class="col-sm-3 control-label">Description</label>
    <div class="col-sm-9">
      <textarea class="form-control"></textarea>
    </div>
  </div> 
  <div class="form-group">
    <label for="qty" class="col-sm-3 control-label">Количество</label>
    <div class="col-sm-3">
   <input type="text" class="form-control" name="qty" id="qty" placeholder="шт.">
    </div>
  </div> 
  <div class="form-group">
    <label class="col-sm-3 control-label">Сроки</label>
    <div class="col-sm-3"> 
	  <label class="control-label small" for="date_start">Начало: </label>
	  <input type="text" class="form-control" name="date_start" id="date_start" placeholder="Начало">
    </div>
	<div class="col-sm-3">   
	  <label class="control-label small" for="date_finish">Конец:</label>
	  <input type="text" class="form-control" name="date_finish" id="date_finish" placeholder="Конец">
    </div>
  </div> 
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Загрузить</label>
    <div class="col-sm-3">
      <label class="control-label small" for="file_img" >Картинка (jpg/png):</label> <input type="file" name="file_img">
    </div>
	<div class="col-sm-3">
      <label class="control-label small" for="file_img">Файлы:</label>  <input type="file" name="file_archive" multiple>
    </div>
  </div> 
  <div class="form-group">
    <label for="tech" class="col-sm-3 control-label">Технолог</label>
    <div class="col-sm-3">
   <select class="form-control">
	<option value="">Выберите</option>
	<option value="texnolog2">Технолог 2</option>
	<option value="texnolog3">Технолог 3</option>
   </select>
    </div>
  </div> 
  <hr>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
  </div> 
</form>
  
</div>
</section>

  
</div>  -->



<button mat-raised-button (click)="isEditable = !isEditable">
    {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
  </button>
  
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  