agm-map {
    height: 300px;
  }

  // .input.error {
  //   border: 1px solid red;
  // }

  .error-msg{
    color: red
  }
  .form-control.ng-dirty.ng-touched.ng-invalid {
    border: 1px solid red;

  }


  .ok{
    display: block;
    width: 100%;
    height: 60px;
  }