body{padding-top:30px;width: 100%}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.container {
    flex-direction: column;
  }
.container .btn-holder {
    align-self: flex-end;
    background-color : red($color: #d81313)
}

.mat-card {
  text-align: center;
  height: 350px;
  width: 400px;
  img {
      border-radius: 5px;
      margin-top: -25px;
  }
}

.img-responsive {

  width: 150px;

}