


<div><button *ngIf="isOwner" (click)="addCar()">Add new car</button></div>
<div *ngIf="cars">
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
<!-- <div fxFlexFill [fxLayout]="'row wrap'" fxLayoutGap="20px grid"> -->

    <div fxFlex *ngFor="let item of cars">
        <mat-card>
            <img mat-card-image [src]="item.images[0]" (click)="openCarDialog(item)" >
            <mat-card-header style="justify-content: center">
                <mat-card-title>
                    <h3 class="m-0">{{item.brand.brand}} {{item.brand.model}}</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p *ngIf="item.description.length > 100">
                    {{item.description| slice:0:100}}
                </p>
                <p *ngIf="item.description.length <= 100">
                    {{item.description}}
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button>{{item.price}}</button>
                <button mat-button>
                    <mat-icon class="nav-icon">location_on</mat-icon> {{item.address.city}} ,{{item.address.zone}}
                </button>
            </mat-card-actions>
        </mat-card>
      
    </div>
    
</div>
</div>
<!-- <div fxFlexFill [fxLayout]="'row wrap'" fxLayoutGap="20px grid">
    <div fxFlex="50">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            A
        </mat-card>
    </div>
    <div fxFlex="50">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            B
        </mat-card>
    </div>
    <div fxFlex="50">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            C
        </mat-card>
    </div>
    <div fxFlex="50">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            D
        </mat-card>
    </div>
    <div fxFlex="50">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            E
        </mat-card>
    </div>
</div> -->