<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
          <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="LastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> LastName </th>
          <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="Validity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Validity </th>
        <td mat-cell *matCellDef="let row"> <mat-checkbox [checked]="row.valid" (change)="onChange($event, row._id, row.valid)">checked</mat-checkbox> </td>
       
    </ng-container>

    <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="warn" (click)="onDelete(row._id)">
            Delete  
            </button>
    </td>
    </ng-container>
    <!-- <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="onDelete(element._id)">
            <mat-icon class="mat-18">delete</mat-icon>
        </button>
</td> -->

    <!-- <ng-container matColumnDef="LastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> LastName </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
    </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
