
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
<!------ Include the above in your HEAD tag ---------->

 <!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  </head>

  <body> 
	
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="{{'pic-' + i }}"><img src="{{data.images[0]}}" /></div>
						  <div *ngFor="let img of data.images ; let i=index" class="tab-pane" id="i"><img src="{{data.images[i]}}" /></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  
						  <li *ngFor="let img of data.images ; let i=index"><a data-target="#{{'pic-' + i }}" data-toggle="tab"><img src="{{data.images[i]}}" /></a></li>
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{data.brand.brand}} {{data.brand.model}}</h3>
						<h5 >{{data.modelDate}}. {{data.numberOfDoors}} doors. {{data.seatingCapacity}} seats</h5>
						
						<h5 class="product-title">description</h5>

						<p class="product-description">{{data.description}}</p>
						<h5 class="price">current price: <span>{{data.price}} €/day</span></h5>
						<h5 class="price">Owner: </h5>
						<div >
							<img (click)="goToOwnerDetail(data.owner._id)" class="profil" src="{{data.owner.image}}" />
							<span (click)="goToOwnerDetail(data.owner._id)">{{data.owner.firstName}} {{data.owner.lastName}}</span>
						</div>
						
						
					</div>
				</div>
				
			</div>
			
		</div>
		
	</div>
  </body>
</html> 
